@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro|Source+Sans+Pro:200,400,600);@import url(https://cdn.linearicons.com/free/1.0.0/icon-font.min.css);@import url(https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css);@keyframes fadeInUp {
  0% {
    transform: translateY(20px);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

@keyframes fadeInDown {
  0% {
    transform: translateY(-20px);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeAndZoomIn {
  0% {
    transform: scale(0.75);
    opacity: 0; }
  100% {
    transform: scale(1);
    opacity: 1; } }

@keyframes slideInUp {
  0% {
    transform: translateY(100%); }
  100% {
    transform: translateY(0); } }

@keyframes slideDown {
  0% {
    transform: translateY(-100%); }
  50% {
    transform: translateY(8%); }
  65% {
    transform: translateY(-4%); }
  80% {
    transform: translateY(4%); }
  95% {
    transform: translateY(-2%); }
  100% {
    transform: translateY(0%); } }

@keyframes pullDown {
  0% {
    transform: scaleY(0.1); }
  40% {
    transform: scaleY(1); }
  100% {
    transform: scaleY(1); } }

@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.medium-brand {
  color: #027095; }

.light-brand,
.brand-color,
.primary-color {
  color: #2bbbb6; }

.dark-brand,
.dark-brand-color {
  color: #2d333a; }

.success-color {
  color: #AFC548; }

.info-color {
  color: #279ff5; }

.warning-color {
  color: #FED232; }

.danger-color {
  color: #E65553; }

.accent-color {
  color: #8967F8; }

.disabled-color {
  color: #999; }

.brand-background,
.primary-background {
  background-color: #2bbbb6 !important; }

.dark-brand-background {
  background-color: #2d333a !important; }

.success-background {
  background-color: #AFC548 !important; }

.info-background {
  background-color: #279ff5 !important; }

.warning-background {
  background-color: #FED232 !important; }

.danger-background {
  background-color: #E65553 !important; }

.accent-background {
  background-color: #8967F8 !important; }

.lightest-grey-background {
  background-color: #F5F5F6 !important; }

.light-grey-background {
  background-color: #F1F1F2 !important; }

.grey-background {
  background-color: #E6E6E6 !important; }

.medium-grey-background {
  background-color: #939393 !important; }

.dark-grey-background {
  background-color: #555555 !important; }

.light-transparent-grey-background {
  background: rgba(0, 0, 0, 0.08) !important; }

.has-dark-background {
  color: white; }

.flat {
  margin-bottom: 0 !important; }

.pressed {
  margin-bottom: 0.71429rem; }

.pressed--large {
  margin-bottom: 2.85714rem; }

.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block; }

.unstyled {
  margin-left: 0;
  list-style: none; }

.text-uppercase {
  text-transform: uppercase; }

.text-centered {
  text-align: center; }

.cursor-pointer {
  cursor: pointer; }

.hide-text {
  overflow: hidden;
  white-space: nowrap;
  text-indent: -100%; }

.hide {
  display: none;
  opacity: 0; }

.no-wrap {
  white-space: nowrap; }

.code,
.inline-code {
  font-family: "Source Code Pro", monospace;
  font-weight: 500;
  background: rgba(0, 0, 0, 0.08);
  color: #303030;
  padding: .0em .5em;
  font-size: 80%;
  border-radius: 5px;
  display: inline-block; }

.inline-code {
  display: inline;
  font-weight: inherit; }

.affix {
  position: fixed; }

.fullscreen {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }
  .fullscreen:empty {
    display: none; }

.pull-over-margin {
  margin-top: -1.42857rem; }

.spacer {
  height: 1px;
  margin: 1.42857rem; }

.spacer--half {
  margin: 0.71429rem; }

.box {
  margin-bottom: 1.42857rem; }

.box--demo, .box--center {
  padding: 0.71429rem;
  display: flex;
  justify-content: center; }

.box--demo {
  border-radius: 4px; }

.dashed-timestamp {
  border-bottom: 1px dashed #E6E6E6; }

.show-desktop,
.show-tablet {
  display: none !important; }

@media (min-width: 48em) {
  .show-tablet {
    display: block !important; }
  .hide-tablet {
    display: none !important; } }

@media (min-width: 75em) {
  .show-desktop {
    display: block !important; }
  .hide-desktop {
    display: none !important; } }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  font-size: 100%; }

body {
  font-size: 0.875em;
  font-family: "Source Sans Pro", sans-serif;
  color: #444455;
  background: #2d333a;
  font-weight: 400;
  line-height: 1.5; }

a {
  color: #279ff5;
  text-decoration: none;
  transition: color 230ms ease; }
  a:hover {
    color: #0869ae;
    cursor: pointer; }

.link {
  color: #279ff5;
  font-weight: 700; }

.brandLink {
  color: #2bbbb6; }

small {
  font-size: 85%; }

code {
  font-family: monospace; }

img {
  max-width: 100%; }

svg {
  min-height: 1.2rem;
  min-width: 1.2rem; }

h1,
h2,
h3,
h4,
h5,
ul,
ol,
table {
  margin-bottom: 1.42857rem; }

p {
  margin-bottom: 0.71429rem; }

h1,
h2,
h3 {
  font-weight: 300; }

h1,
.alpha {
  font-size: 2.1428571429em; }

h2,
.beta {
  font-size: 1.7142857143em; }

h3,
.gamma {
  font-size: 1.4285714286em; }

h1.alpha,
h2.beta,
h3.gamma {
  color: #2d333a; }

h4 {
  font-weight: 400; }

h5 {
  text-transform: uppercase;
  color: #111;
  font-weight: 600;
  font-size: .8em; }

h6 {
  font-weight: 600;
  font-size: 0.7142857143em; }

.small {
  font-size: .8em;
  font-weight: 400; }

strong,
.strong {
  font-weight: 600; }

ul, ol {
  margin-left: 1.25rem; }

.tiny {
  font-size: 0.7142857143em; }

.lead {
  border-bottom: 1px solid #dedede; }

hr,
.separator {
  margin: 2em 0;
  height: 0;
  border: none;
  border-bottom: 1px solid #dedede; }

.notification-message {
  margin: 1.42857rem 0; }

@media (min-width: 48em) {
  .block {
    padding: 0 1.42857rem; }
  body {
    font-size: 1em;
    font-weight: 300; } }

.container {
  padding: 0 1.4285714286em;
  margin: 0 auto;
  max-width: 85.71429em; }

.container--large {
  padding: 0 1.4285714286em;
  margin: 0 auto;
  max-width: 85.71429em; }

.container--full {
  max-width: none; }

.container--spaced {
  padding-top: 2.85714rem;
  padding-bottom: 2.85714rem; }

.flex {
  display: flex; }

.flex--wrap {
  flex-wrap: wrap; }

.flex--guts {
  align-items: center;
  justify-content: center; }

.flex--spaced {
  justify-content: space-between; }

.flex--centered {
  justify-content: center; }

.flex--aligned {
  align-items: center; }

.flex--bottom {
  align-items: flex-end; }

.flex--stacked,
.flex--column {
  flex-direction: column; }

.flex--full {
  flex: 1; }

.flex--just-end {
  justify-content: flex-end; }

.flex--just-center {
  justify-content: center; }

.secondary-nav {
  border-bottom: 1px solid #dedede; }

table,
.table {
  width: 100%;
  border-collapse: collapse; }

.table-head,
thead {
  border-bottom: 1px solid #dedede; }
  .table-head th,
  thead th {
    padding: .8em 0; }

th {
  font-weight: 400;
  text-align: left; }

tbody td, tbody th,
.table-body td,
.table-body th {
  padding-top: .5em;
  padding-bottom: .5em; }

.table-body--border-rows .table-row {
  border-bottom: 1px solid #ebebeb; }

.table-row--highlight {
  background: rgba(0, 0, 50, 0.03); }

.form__group {
  padding-top: 1.42857rem;
  margin-bottom: 1.42857rem;
  border-top: 1px solid #E6E6E6; }

.form__group .flex {
  flex-direction: column; }

.form__helper,
.form__list {
  color: #999;
  font-size: 13px;
  margin-bottom: 15px;
  display: inline-block; }

.form__list {
  display: block; }

.input + .form__helper {
  padding-top: 0.71429rem; }

.form__list li {
  margin-bottom: 5px; }

.form__group + input[type="submit"] {
  margin-top: 1.42857rem; }

.form__description {
  width: 100%;
  margin-right: 50px;
  margin-bottom: 10px; }
  .form__description label, .form__description .label {
    display: block;
    font-size: 17px;
    margin-bottom: 10px; }

.form__content {
  width: 100%; }

.form__collapsedLink {
  text-decoration: underline;
  color: #999;
  font-size: 13px; }

.form__collapsedContent span {
  margin-bottom: 5px; }

.form__sub {
  padding: 10px 0; }

.input {
  height: 40px;
  width: 100%;
  background: #fff;
  color: #555555;
  border-radius: 0.2rem;
  font-size: 1em;
  font-weight: 300;
  border: 1px solid #CBCBD2;
  padding: 0 1.42857rem; }
  .input:focus {
    outline: 0;
    box-shadow: inset 0 1px 3px rgba(203, 203, 210, 0.9);
    border-color: #61d6d6; }

.checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 0.71429rem; }
  .checkbox span {
    margin-right: 1.42857rem; }

.radio {
  margin-right: 2.85714rem; }

input[readonly] {
  background: transparent;
  box-shadow: none;
  color: #555555; }

.radio-group-input__label,
.radio-group-input__heading {
  margin-bottom: 0;
  vertical-align: middle; }

.radio-group-input__label {
  font-size: 0.84615384615em;
  font-style: italic;
  margin-left: 0.90909rem; }

.radio-group-input__heading {
  display: block;
  font-style: normal; }

.filter-select__input {
  border-bottom: 1px solid #e9e9e9;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }
  .filter-select__input:focus {
    border-bottom-color: #60d6ad; }

.filter-select__container {
  height: 250px;
  overflow-y: scroll;
  background-color: #fff;
  border: 1px solid #CBCBD2;
  border-top: 0;
  border-bottom-left-radius: .2rem;
  border-bottom-right-radius: .2rem; }

.filter-select__container--tall {
  height: 400px; }

.filter-select__container--top {
  border-top: 1px solid #CBCBD2;
  border-top-left-radius: .2rem;
  border-top-right-radius: .2rem; }

.filter-select__radio {
  margin: 0 0.47619rem;
  display: inline-block;
  position: absolute;
  left: 0.71429rem;
  top: 22%; }

.filter-select__option {
  display: block;
  width: 100%;
  padding: 0.35714rem 0.35714rem 0.35714rem 2.85714rem;
  cursor: pointer;
  position: relative;
  line-height: .95em; }
  .filter-select__option:hover {
    background-color: #f5f5f5; }

.filter-select__label-name {
  font-weight: 500;
  font-size: .9em; }

.filter-select__label-desc {
  font-size: 0.71429rem;
  color: #939393; }

@media (min-width: 48em) {
  .form__group {
    flex-direction: row; }
  .form__group .flex {
    flex-direction: row; }
  .form__description {
    width: calc(100%/3); }
  .form__content {
    width: calc((100%/3)*2); } }

.collapse {
  max-height: 0;
  overflow-y: hidden;
  transition: max-height .5s ease; }
  .collapse.collapse-open {
    height: auto;
    max-height: 10000px; }

.wrap {
  position: relative;
  width: 100%;
  overflow: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column; }

.wrap__menu {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: calc(100% - 3.75rem); }

.wrap__body {
  background: #fff;
  transition: all 0.25s ease;
  position: relative;
  z-index: 10;
  flex: 1; }

.wrap--open .wrap__body {
  transform: translateX(calc(100% - 3.75rem)); }

.strip {
  padding-top: 5.7142857143em;
  padding-bottom: 5.7142857143em; }

.strip--light {
  background-color: #2bbbb6;
  color: #fff; }
  .strip--light h1,
  .strip--light h2,
  .strip--light h3,
  .strip--light h4,
  .strip--light h5 {
    color: #fff; }

.strip--lighter {
  background-color: #61d6d6;
  color: #fff; }
  .strip--lighter h1,
  .strip--lighter h2,
  .strip--lighter h3,
  .strip--lighter h4,
  .strip--lighter h5 {
    color: #fff; }

.strip--dark {
  background-color: #2d333a;
  color: #fff; }
  .strip--dark h1,
  .strip--dark h2,
  .strip--dark h3,
  .strip--dark h4,
  .strip--dark h5 {
    color: #fff; }

.strip--darkUnique {
  background-color: #1c2128;
  color: #fff; }
  .strip--darkUnique h1,
  .strip--darkUnique h2,
  .strip--darkUnique h3,
  .strip--darkUnique h4,
  .strip--darkUnique h5 {
    color: #fff; }
  .strip--darkUnique,
  .strip--darkUnique a {
    color: #61d6d6; }

.strip--light-gradient {
  background: linear-gradient(to bottom, #2bbbb6 15%, #026c90 100%);
  color: #fff; }
  .strip--light-gradient h1,
  .strip--light-gradient h2,
  .strip--light-gradient h3,
  .strip--light-gradient h4,
  .strip--light-gradient h5 {
    color: #fff; }

.strip--thin {
  padding-top: 2em;
  padding-bottom: 2em; }

.strip--lean {
  padding-top: 2em;
  padding-bottom: 2em; }
  .strip--lean h1, .strip--lean h2, .strip--lean h3, .strip--lean h4, .strip--lean h5 {
    margin-bottom: 0; }

.strip--reveal {
  transform: translateY(100%);
  animation: slideInUp 0.5s 0.5s ease forwards; }
  .strip--reveal .container {
    opacity: 0;
    animation: fadeIn 0.5s 3s ease forwards; }

.sidebar__section {
  border-bottom: 1px solid #d7d7d7;
  padding-bottom: .8em;
  margin: .5em; }

.sidebar__list-item {
  list-style: none;
  position: relative;
  margin-bottom: -1px; }

.sidebar__link {
  font-weight: 400;
  font-size: .9em;
  display: block;
  padding: 10px; }

.Tooltip, .Modal {
  display: flex;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 100;
  height: 100%;
  align-items: center;
  justify-content: center; }

.Modal--with-overlay {
  background: rgba(0, 0, 0, 0.7); }

.Modal__container {
  position: relative;
  width: 75%;
  max-width: 768px;
  opacity: 1;
  z-index: 101; }

.Modal__body {
  background: white;
  box-sizing: border-box;
  padding: 1.42857rem;
  box-shadow: 0 2px 2px rgba(100, 100, 100, 0.15); }

.Tooltip .Modal__header {
  display: none; }

.Tooltip .Modal__body {
  padding: 1%; }

.Tooltip .arrow {
  position: absolute;
  width: 0;
  height: 0; }
  .Tooltip .arrow.s {
    top: -10px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white; }
  .Tooltip .arrow.n {
    bottom: -10px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid white; }
  .Tooltip .arrow.w {
    left: -10px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid white; }
  .Tooltip .arrow.e {
    right: -10px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid white; }

@keyframes moveTracks {
  0% {
    transform: translateX(0); }
  100% {
    transform: translateX(1000%); } }

.tracks {
  position: relative;
  height: 1.4285714286em;
  background: rgba(0, 0, 0, 0.05);
  overflow: hidden; }

.tracks__glow {
  width: 20%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(-90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0) 100%);
  animation: moveTracks 10s ease infinite; }

.icon-list {
  list-style: none; }

.icon-list__list-item-icon {
  display: inline-block;
  padding: 0 0.47619rem; }

.icon-list__list-item-icon-image {
  max-height: 1.42857rem;
  vertical-align: middle; }

.badge {
  display: inline-block;
  text-align: center;
  border-radius: 0.1428571429em;
  color: #fff;
  font-weight: 600;
  font-style: normal;
  background: #939393;
  font-size: .8em;
  padding: 0 0.5em; }

.badge--blue {
  background-color: #279ff5; }

.badge--red {
  background-color: #E65553; }

.badge--green {
  background-color: #AFC548; }

.badge--purple {
  background-color: #8967F8; }

.badge--lightgray {
  background: #eee;
  color: #222233; }

.badge--pill {
  font-size: .8em;
  vertical-align: middle;
  border-radius: 20px;
  font-weight: 700;
  white-space: nowrap;
  width: auto;
  height: auto;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #dedede;
  color: inherit;
  padding: 0 .5em; }

.Avatar__image {
  max-width: 20px;
  height: auto;
  border-radius: 50%;
  position: relative;
  top: 0.20408rem;
  margin-right: 0.47619rem; }

.card {
  background: #fff;
  border-radius: 0.25rem;
  overflow: hidden;
  border: 1px solid #d7d7d7;
  box-shadow: 0 2px 2px rgba(100, 100, 100, 0.15); }

.card__header,
.card__body,
.card__footer {
  padding: 0.625rem 1.25rem; }

.card__header h1,
.card__header h2,
.card__header h3,
.card__header h4,
.card__header h5,
.card__header h6 {
  margin-bottom: 0; }

.card__body {
  background-color: #fff; }

.card__header,
.card__footer {
  background-color: #F8F8F8; }

.card--inverse .card__header,
.card--inverse .card__footer {
  background-color: #fff; }

.card--inverse .card__body {
  background-color: #F8F8F8; }

.card--spaced .card__header,
.card--spaced .card__body,
.card--spaced .card__footer {
  padding: 1.42857rem; }

.btn {
  display: inline-block;
  color: #fff;
  background-color: #2d333a;
  padding: 0 1.4285714286em;
  height: 3.1428571429em;
  line-height: 3.1428571429em;
  text-decoration: none;
  border-radius: 0.1428571429em;
  font-weight: 700;
  cursor: pointer;
  border: 0;
  font-size: 1em;
  text-align: center;
  transition: all 0.25s ease;
  -webkit-tap-highlight-color: transparent; }
  .btn:hover {
    background-color: #2bbbb6;
    color: white; }
  .btn[disabled] {
    background-color: rgba(150, 150, 150, 0.1);
    cursor: auto;
    color: white; }
  .btn[hidden] {
    visibility: hidden; }

.btn--secondary {
  background-color: #2bbbb6;
  border: 0.07142857143em solid transparent; }
  .btn--secondary:hover {
    background-color: transparent;
    border-color: #2bbbb6;
    color: #2bbbb6; }

.btn--tertiary {
  background-color: #027095;
  border: 0.07142857143em solid transparent; }
  .btn--tertiary:hover {
    background-color: transparent;
    border-color: #027095;
    color: #61d6d6; }

.btn--simple {
  background-color: #fff;
  border: 0.07142857143em solid #d7d7d7;
  color: #2d333a; }
  .btn--simple:hover {
    background-color: #eee;
    color: #2d333a; }

.btn--transparent {
  background-color: transparent;
  border: 0.07142857143em solid transparent;
  color: #2d333a; }
  .btn--transparent:hover {
    background-color: #e8e8ec;
    color: #2d333a; }

.btn--outline {
  background: none;
  border: 1px solid #2d333a;
  color: #2d333a;
  font-weight: 400; }
  .btn--outline:hover {
    background: #2d333a;
    color: white; }

.btn--outline-light {
  background: none;
  border: 1px solid #2bbbb6;
  color: #2bbbb6;
  font-weight: 400; }
  .btn--outline-light:hover {
    background: #2bbbb6;
    color: white; }

.btn--small, .btn__small {
  font-size: 0.8571428571em;
  height: 2.6666666667em;
  line-height: 2.5em; }

.btn--large, .btn__large {
  font-size: 1.1428571429em;
  height: 4em;
  line-height: 4em;
  padding: 0 2.5em; }

.btn--clean, .btn__clean {
  font-weight: 400; }

.btn--warning:hover {
  color: white;
  background: #E65553;
  border-color: #e02926; }

@media (max-width: 480px) {
  .btn--block {
    display: block;
    width: 100%; } }

@media (min-width: 768px) {
  .grid {
    display: flex;
    margin-left: -1.42857rem;
    flex-wrap: wrap; }
  .col {
    padding-left: 1.42857rem;
    flex-grow: 1; }
  .col--separator {
    flex-grow: 2;
    width: 100%; }
  .col--1of6 {
    width: 16.666666667%; }
  .col--2of6 {
    width: 33.333333334%; }
  .col--3of6 {
    width: 50%; }
  .col--4of6 {
    width: 66.666666668%; }
  .col--5of6 {
    width: 83.333333335%; }
  .col--1of9 {
    width: 11.111111111%; }
  .col--2of9 {
    width: 22.222222222%; }
  .col--3of9 {
    width: 33.333333333%; }
  .col--4of9 {
    width: 44.444444444%; }
  .col--5of9 {
    width: 55.555555555%; }
  .col--6of9 {
    width: 66.666666666%; }
  .col--7of9 {
    width: 77.777777777%; }
  .col--8of9 {
    width: 88.888888888%; }
  .col--0of20 {
    width: 0; }
  .col--1of20 {
    width: 5%; }
  .col--2of20 {
    width: 10%; }
  .col--3of20 {
    width: 15%; }
  .col--4of20 {
    width: 20%; }
  .col--5of20 {
    width: 25%; }
  .col--6of20 {
    width: 30%; }
  .col--7of20 {
    width: 35%; }
  .col--8of20 {
    width: 40%; }
  .col--9of20 {
    width: 45%; }
  .col--10of20 {
    width: 50%; }
  .col--11of20 {
    width: 55%; }
  .col--12of20 {
    width: 60%; }
  .col--13of20 {
    width: 65%; }
  .col--14of20 {
    width: 70%; }
  .col--15of20 {
    width: 75%; }
  .col--16of20 {
    width: 80%; }
  .col--17of20 {
    width: 85%; }
  .col--18of20 {
    width: 90%; }
  .col--19of20 {
    width: 95%; }
  .col--1of4 {
    width: 25%; }
  .col--3of4 {
    width: 75%; }
  .col--6of6,
  .col--5of5 {
    width: 100%; }
  .col--1of5 {
    width: 20%; }
  .col--2of5 {
    width: 40%; }
  .col--3of5 {
    width: 60%; }
  .col--4of5 {
    width: 80%; } }

.logo {
  background-image: url("/static/images/logo-primer-crane--brand.svg");
  background-repeat: no-repeat;
  background-size: 14.285714286em;
  background-position: center;
  display: block;
  width: 14.28571em;
  height: 5.5em;
  transition: background 0.2s ease; }

.logo--white {
  background-image: url("/static/images/logo-primer-crane--white.svg"); }
  .logo--white:hover {
    background-image: url("/static/images/logo-primer-crane--brand.svg"); }

.logo--tiny {
  width: 2.5em;
  height: 2.85714rem;
  background-size: 100%;
  background-position: 0 47%;
  background-image: url("/static/images/logo-primer-singular-crane--brand.svg"); }

.logo--tiny.logo--white {
  background-image: url("/static/images/logo-primer-singular-crane--white.svg"); }
  .logo--tiny.logo--white:hover {
    background-image: url("/static/images/logo-primer-singular-crane--brand.svg"); }

.Header {
  position: relative;
  background-color: #2d333a;
  color: #fff; }
  .Header a {
    color: #fff; }
    .Header a:hover {
      color: #2bbbb6; }

.Header__container > div {
  height: 3.375em; }

.Header__logo {
  flex-grow: 2;
  justify-content: center;
  display: flex; }

.Header__icon {
  display: inline-block;
  font-size: 1.7142857143em;
  width: 1em;
  text-align: center;
  margin-right: 10px;
  cursor: pointer;
  vertical-align: -25%; }

.Header-userName {
  display: none; }

@media (min-width: 1200px) {
  .Header__icon:hover {
    color: #2bbbb6; } }

@media (min-width: 48em) {
  .Header__logo {
    flex-grow: 0; }
  .Header-userName {
    display: block; } }

.footer {
  font-weight: 500;
  text-align: center;
  background: white;
  border-top: 1px solid #dedede; }

.footer__container {
  font-size: 0.8125rem; }

.footer__link {
  color: #027095;
  display: inline-block;
  padding: .8em 1.4em; }
  .footer__link:hover {
    color: #2bbbb6; }

.tabs {
  animation: slideInUp 0.25s ease;
  width: 100%;
  display: flex;
  margin-bottom: -1px;
  overflow: auto; }

.tabs--align-right {
  justify-content: flex-end;
  flex-direction: row; }

.tabs--sidebar {
  flex-direction: column;
  width: auto; }
  .tabs--sidebar .tabs-item {
    display: block;
    text-align: left;
    margin: 0 0 .2em;
    padding: 10px; }

.tabs-item {
  text-align: center;
  position: relative;
  padding: 0.71429rem;
  display: inline-table;
  font-weight: 500;
  font-size: .88em;
  margin-left: 0.35714rem;
  border: 1px solid transparent;
  transition: all 0.25s ease;
  color: #444455; }
  .tabs-item:first-child {
    margin-left: 0; }
  .tabs-item:hover {
    color: #2bbbb6; }

.tabs-item--active {
  opacity: 1;
  border-bottom-color: #2bbbb6;
  color: #2bbbb6; }

.tabs-item--inactive {
  cursor: pointer;
  color: #aaa; }
  .tabs-item--inactive:hover {
    border-color: transparent; }

.tabs-item--clean {
  font-size: .77em;
  padding: .4em .8em; }
  .tabs-item--clean:hover {
    background-color: #d7d7da;
    border-color: #d7d7da; }
  .tabs-item--clean.tabs-item--active {
    background-color: #e5e5e8;
    border-color: #e5e5e8; }

.shelf {
  height: 100vh;
  background-color: #2d333a;
  width: calc(100% - 50px);
  position: fixed;
  top: 0;
  left: 100%;
  z-index: 500;
  color: #fff;
  transition: all 0.2s ease;
  max-width: 480px; }
  .shelf a {
    color: #fff; }
    .shelf a:hover {
      color: #2bbbb6; }

.shelf__header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding: 1.42857rem;
  height: 3.375em; }

.shelf__link {
  padding: 1.42857rem; }
  .shelf__link i {
    display: inline-block;
    font-size: 1.7142857143em;
    width: 2em;
    text-align: center;
    cursor: pointer;
    margin-right: 10px; }

.shelf--open {
  transform: translateX(-100%); }

.shelf--open + .Overlay {
  display: block; }

@keyframes showOverlay {
  0% {
    opacity: 0; }
  100% {
    opacity: 0.8; } }

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: #000;
  opacity: 0.8;
  animation: showOverlay 0.25s ease forwards; }

.progress {
  position: relative;
  margin: auto;
  width: 100%; }

.progress,
.progress__bar {
  height: 1.42857rem;
  background-color: #F1F1F2;
  border-radius: 1em;
  color: #555555; }

.progress--thin,
.progress__bar--thin {
  height: 1.07143rem; }

.progress--success {
  background-color: #AFC548; }

.progress--warning {
  background-color: #FED232; }

.progress--danger {
  background-color: #E65553; }

.progress__bar,
.progress__bar-value {
  position: absolute; }

.progress__bar {
  z-index: 0; }

.progress__bar-value {
  z-index: 1;
  line-height: 100%;
  text-align: center; }

.loading__container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 10vh; }

.loading__child {
  display: flex;
  align-items: baseline; }

.loading__icon {
  animation-name: spin;
  animation-duration: 700ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  margin-right: .5em; }